/*
Autor: Jorge Marcelo
Data de Criação: 10/08/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
Instagram: https://www.instagram.com/10_stronger/
Threads: https://www.threads.net/@10_stronger
*/ 


/*Google Fonts*/
/*Teko*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

/*Configurações padrão*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;
transition: all 0.5s ease;
font-family: 'Teko', sans-serif;
}

/*Background color*/
body{
background-color: rgb(176, 62, 252);
}

/*Formulario*/
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
background-color: rgb(41, 40, 40);
border-radius: 10px;
box-shadow: 0 20px 25px rgba(0,0,0,0.25);
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
padding: 10px;
border: 3px solid rgb(255, 255, 255);
}

/*Container*/
section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: content ;
margin: 5px;
background-color: white;
width: 250px;
height: 50px;
border-radius: 10px;
border: 3px solid rgb(234, 0, 255);
font-size: 2em;
}


/*Textos*/
h1{
color: rgb(174, 0, 255);
font-size: 1.7em;
font-weight: 900;
margin: 10px;
}


h2{
color: rgb(174, 0, 255);
font-size: 1em;
font-weight: 900;
margin: 5px;
}

/*Rodape e redes sociais*/
table {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
}

button {
margin: 0 7px;
width: 50px; /* Equal width and height for circular shape */
height: 50px; /* Equal width and height for circular shape */
border-radius: 100%;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}

button:hover{
animation: button 0.3s ease-in-out forwards;

}




@keyframes button{
from{
transform: translateY(0);
}
to{
transform: translateY(-20px);
}
}

.github{
background: transparent;
border: 2px solid rgb(116, 2, 145);
background-color: white;
}

.github:hover{
background-color: rgb(174, 0, 255);
border: 2px solid rgb(255, 255, 255);

}

.linkedin{
background: transparent;
border: 2px solid rgb(116, 2, 145);
background-color: white;

}

.linkedin:hover{
background-color: rgb(174, 0, 255);
border: 2px solid rgb(255, 255, 255);

}

.instagram{
background: transparent;
border: 2px solid rgb(116, 2, 145);
background-color: white;
}

.instagram:hover{
background-color: rgb(174, 0, 255);
border: 2px solid rgb(255, 255, 255);
}

figure{
margin: 10px;
position: relative;
}

/*Imagem do efeito de fade*/
.efect
{
display: flex;
width: 210px;
height: 311px;
position: absolute;
top: 378px; 
left: 40px; 
opacity: 1;
animation-name: fade; /*Nome da animação*/
animation-duration: 3s; /*Duração da animação*/
animation-iteration-count: infinite; /*Contagem que aquela animaçãao sera executada*/
z-index: 1;
margin-bottom: -70px;
}


@keyframes fade {
0% { /*Animação cmeça em 0*/
opacity: 0;
}
50%  { /*Atingindo seus 50% ela começa a aparecer*/
opacity: 1;
}
100% { /*Ao chegar o 100% ela perde sua opacidade total e com animation infinite ela retorna esse mesmo processo infinitas vezes*/
opacity: 0;
}
}



